<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/calendar.css">

    <title>Calendar</title>

</head>
<body>
    <%- include('nav.ejs') %>
    <div class="container mt-4">
        
        <!-- Add Task Button -->
        <div class="mb-3">
            <button id="add-task-btn" class="btn btn-primary">Add Task</button>
        </div>
        
        <!-- Month Navigation -->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <button id="prev-month" class="btn btn-secondary">&lt;</button>
            <span id="month-year" class="h5">Placeholder Month</span>
            <button id="next-month" class="btn btn-secondary">&gt;</button>
        </div>            

        <!-- Calendar Grid -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
                </tr>
            </thead>
            <tbody id="calendar-body"></tbody>
        </table>
    </div>

    <script src="/public/js/calendar.js"></script>
</body>
</html>

<!-- What am I looking for in a calender? 
- Show full month
- Each day can contain a list of tasks
- Switch between months (1 month before and up to futhest task or 3 months after)
- Click on a day to show all tasks for that day in a modal
- Click on a task to go to that task
- uses bootstrap 5 and jquery
-->

<!-- Calendar framework
- calendar div
    - rows and columns (7 x 6 the days in the calendar that are not apart of the month will have their numbers grayed out)
    - use JS to generate the proper days of the month
    - create cells for eachday 

        LAYOUT OF CELLS
        - each cell will be numbered and have a box in them that shows the title of the task 
            - colors can be a setting or priority level thing
            - there can be a max of 3 tasks shown within one cell (if there are more there will be an icon to indicate that)
            - the order of tasks is determined by 
                - is there an extended task to show
                - priority level
                
        EVENTS 
        - clicking on the cell without clicking on a task will show all tasks for that day in a modal
        - clicking on a task will go to that task (depending on how we implement tasks, there may be a link to the task)
            - (if there is no task to link to then we can just show the task details in a modal as well)
            - for now it will just be a modal with the title, date, and priority of the task  
-->

<!-- Features that still need implimented
 - DB integration
 - button to add task
 - modals for days
 - task links 
 - alerting users (number by icon for number of alerts)
 - look better
-->

<!-- Feature Ideas
 - reocurring tasks (weekly, monthly, yearly)
 - color customization
 - style customization
 - drag and drop to change dates and length
 - canvas api/key or whatever it is to connect canvas
-->