<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Login</title>
</head>

<body class="bg-light">
  <%- include('nav.ejs') %>

<div class="container vh-100 d-flex justify-content-center align-items-center">
  <form id = loginForm>
    <div class="card p-4 shadow" style="width:400px">

      <h4 class="mb-3 text-center">Login</h4>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input id="usernameInput" class="form-control">
      </div>

      <button id="loginBtn" class="btn btn-primary w-100">
        Enter
      </button>

    </div>
  </form>

</div>

<script>
  document.getElementById("loginBtn").addEventListener("click", async (e) => {
    e.preventDefault();

    const username = document.getElementById("usernameInput").value.trim();
    if(!username){
      alert("Enter a username");
      return;
    }

    try {
      const res = await fetch("/api/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ user_id: username })
      });

      if(!res.ok) throw new Error("Login failed");

      const user = await res.json();

      localStorage.setItem("username", user.user_id);

      window.location.href = "/";

    } catch(err) {
      console.error(err);
      alert(err.message);
    }

});
</script>

</body>
</html>